{% load wagtailcore_tags %}

<div class="nav-bar" id="">
    <div class="inner-nav inner-container">
        <a href="/"><div class="nav-logo"></div></a>
        <div class="nav-right">
            <div class="nav-icons">
                <a href="#"><div class="mail-icon nav-icon"></div></a>
                <a href="#"><div class="phone-icon nav-icon"></div></a>
                <a href="#"><div class="facebook-icon nav-icon"></div></a>
            </div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="{% slugurl 'services' %}">Services</a>
                <a href="#">Book</a>
                <a href="{% slugurl 'blog' %}">Blog</a>
                <a href="{% slugurl 'photo-gallery' %}">Photo Gallery</a>
                <a href="{% slugurl 'about' %}">About</a>                
                <a href="{% slugurl 'contact' %}">Contact</a>                     
            </div>               
        </div>
        
        <a href="javascript:void(0);" class="menu-icon" onclick="responsiveMenu(this)">
            <div onclick="menuIcon(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </a>

        
        <div class="responsive" id="responsive-menu"> 
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="{% slugurl 'blog' %}"><li>Blog</li></a>
                <a href="{% slugurl 'photo-gallery' %}"><li>Photo Gallery</li></a>
                <a href="{% slugurl 'about' %}"><li>About</li></a>    
                <a href="{% slugurl 'contact' %}"><li>Contact</li></a>
                <a href="{% slugurl 'services' %}"><li>Services</li></a>
                <a href="#"><li>Book</li></a>
                <li>
                    <a href="#"><div class="mail-icon nav-icon"></div></a>
                    <a href="#"><div class="phone-icon nav-icon"></div></a>
                    <a href="#"><div class="facebook-icon nav-icon"></div></a>
                </li>
            </ul>
        </div>
    </div>
</div>