{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	<h1>{{ page.title }}</h1>
	<div class="container">
		<div class="main-home">
		    {{ page.body|richtext }}
		</div>
		<div class="side-home">
			
		</div>
	</div>
	

    {% for item in page.gallery_images.all %}
    	<div style="float: left; margin: 10px;">
    		{% image item.image fill-320x240 %}
    		<p>{{ item.caption }}</p>    		
    	</div>
    {% endfor %}
{% endblock %}
