{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image page.image width-1200 as image %}

<div class="container-fluid hero" style="background-image: url('{{ image.url }}')">
	<div class="container-hero inner-container">
		{% image page.logo_image width-800 as l_image %}
		<div class="logo" style="background-image: url('{{ l_image.url }}')"></div>
		<div class="row hero-row">			
			<h1>{{ page.hero_text }}</h1>			
			{% if page.hero_cta_link %}
				<a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link">
					<p>{{ page.hero_cta }}</p>
				</a>				
			{% else %}
				<p>{{ page.hero_cta }}</p>
			{% endif %}
		</div>
	</div>
</div>

	<div class="container section-1">
		<div class="section-1-inner inner-container">
			<div class="row promo-row">
				<div class="promo">
					{% if page.promo_image or page.promo_title or page.promo_text %}
					<figure>{% image page.promo_image fill-200x200-c100 %}</figure>
					<div class="promo-text">
						<h3>{{ page.promo_title }}</h3>
						{{ page.promo_text|safe }}
					</div>
					{% endif %}
				</div>
			</div>

			<div class="feature-1">
				{% if page.featured_section_1 %}
					<h2>{{ page.featured_section_1_title }}</h2>				
					<div class="feature-children">
						{% for childpage in sp_features_list %}
							<li>
								<!-- <div class="row"> -->
									<a href="{{ childpage.url }}" class="childpage">
										<figure>
											{% image childpage.image fill-180x140-c100 %}
										</figure>
										<div class="feature-1-text">
											<h2 class="childpage-title">{{ childpage.title }}</h2>
											<p>{{ childpage.display_price }}</p>
										</div>
									</a>								
								<!-- </div> -->
							</li>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		
	</div>

	{% if page.body %}	
		<div class="body-container">
			<div class="streamfield-column">
				{{ page.body }}
			</div>
		</div>
	{% endif %}

<div class="bottom-container">
	<div class="container section-2">
		<div>
			<div class="feature-2">
				{% if page.featured_section_2 %}
				<h2>{{ page.featured_section_2_title }}</h2>	
				<div class="feature-children row feature-2-row">			
					{% for childpage in bp_features_list %}
						<a href="{{ childpage.url }}">
							<li class="feature-item-2">
								{% image childpage.image fill-430x210-c10 %}
								<div class="feature-2-text">
									<h3>{{ childpage.title }}</h3>
									<p>{{ childpage.intro|truncatewords:15 }}</p>
								</div>
							</li>
						</a>
					{% endfor %}
				</div>			
				{% endif %}
			</div>
		</div>
	</div>
	<div class="section-3">
		<div class="inner-container">
			<h2>{{ page.featured_section_3_title }}</h2>
			<div class="feature-3">
				{% if page.featured_section_3 %}
					{% for childpage in pgp_features_list %}
						<a href="{{ childpage.url }}">	
							<div class="feature-child">	
								{% image childpage.main_image width-400 as pg_image %}
								<div class="feature-3-img" style="background: url('{{ pg_image.url }}') no-repeat center; background-size: cover;">
									<h3>{{ childpage.title }}</h3>
								</div>
							</div>
						</a>
					{% endfor %}
						
				{% endif %}
			</div>
		</div>
	</div>
</div>


{% endblock %}
