{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    {% block head %}
        {% include "includes/head.html" %}
    {% endblock head %}

    <body class="{% block body_class %}{% endblock %}">
        {% load wagtailcore_tags wagtailimages_tags %}
        {% wagtailuserbar %}

        {% block navbar %}
            {% include "includes/navbar.html" with parent=site_root calling_page=self %}
        {% endblock navbar %}

        {% if page.title == "Home" %}
            <!-- <div class="home-phone-email">
                <h2>Call <a href="tel:{{ page.phone_number }}">{{ page.phone_number }}</a></h2>
                <h2>Email <a href="mailto:{{ page.email }}">{{ page.email }}</a></h2>
            </div> -->
            
        {% endif %}                        
                
        {% block content %}{% endblock %}        

        <div class="footer">
            {% include "includes/footer.html" %} 
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'phi/js/flickity.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'phi/js/fullscreen.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'phi/js/phi.js' %}"></script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
