{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    
    {% block head %}
        {% include "includes/head.html" %}
    {% endblock head %}

    <body class="{% block body_class %}{% endblock %}">
        {% load wagtailcore_tags wagtailimages_tags %}
        {% wagtailuserbar %}
        
        <!-- <div class="header"></div> -->
        {% if page.title == "Home" %}
            <div class="logo"></div>
        {% endif %}
            
        {% block navbar %}
            {% include "includes/navbar.html" with parent=site_root calling_page=self %}
        {% endblock navbar %}
        
        <div class="content" id="pageContent" role="main">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">
            <h2>Footer</h2>
            {% include "includes/footer.html" %} 
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'phi/js/phi.js' %}"></script>


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            <script src="{% static 'phi/js/slider.js' %}"></script>
        {% endblock %}
    </body>
</html>
