@font-face {
    font-family: 'aaarghnormal';
    src: url('aaargh-webfont.woff2') format('woff2'),
         url('aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    font-family: 'aaarghnormal', sans-serif;
    line-height: 25px;
    /*overflow-x: hidden;*/
}

h1 {
	font-weight: 300;
	font-family: 'aaarghnormal', sans-serif;
    color: #D0CECC;
}

h2, h3 {
	font-weight: 900;
	font-family: 'aaarghnormal', sans-serif;
    color: #D0CECC;
}

* a {
	cursor: pointer;
}

.inner-container {
	max-width: 1200px;
	margin: auto;
	padding: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.inner-nav {
	display: flex;
	justify-content: space-between;	
}

.nav-right .nav-icons {
	display: flex;
	justify-content: flex-end;
	margin: 14px 7px 20px 0;
}

.nav-right .nav-icon {
	margin-left: 20px;
}

.nav-right .mail-icon {
	width: 20px;
	height: 20px;
	background: url("../img/mail-black-envelope-symbol.png") no-repeat center;
	background-size: contain;
}

.nav-right .phone-icon {
	width: 20px;
	height: 20px;
	background: url("../img/telephone.png") no-repeat center;
	background-size: contain;
}

.nav-right .facebook-icon {
	width: 20px;
	height: 20px;
	background: url("../img/facebook-logo-button.png") no-repeat center;
	background-size: contain;
}

.nav-left .nav-links {
	display: flex;
	justify-content: flex-end;
}

.nav-logo {
	width: 200px;
	height: 80px;
	background: url("../img/Puphouse-Logo.png") no-repeat center;
	background-size: contain;
}

/* Navbar on page other than home */

.nav-bar1 {
	margin-top: -69px !important;
    position: fixed;
    width: 100%;
}

/* HomePage */

.home-phone-email {
	position: fixed;
	top: 0;
	z-index: -99
}

.hero {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    top: 0;
    z-index: -100;
    padding: 0;
}

.logo {
	/*background-image: url("../img/the_pup_house_inn_logo_transparent.png");*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 332px;
	width: 100%;
    z-index: -3;
    margin-top: 90px
}

.container {
	
}

.container-hero {
    text-align: center;
    z-index: -1;
    width: 100%;
}

.container-hero .hero-row {
	flex-direction: column;
    margin-top: 20px;
    color: white;
    margin-bottom: 101px;
}

.hero-row h1 {
	margin-bottom: 30px;
	font-size: 25px;
}

.container-hero p {
	font-size: 30px;
	width: 50%;
	margin: auto;
	padding-bottom: 20px;
}

.container-hero .hero-cta-link {
	border: 1px solid #b1b1b1;
    border-radius: 30px;
    box-shadow: 0 0 1px transparent;
    padding: 10px;
    background-color: #375578;
    color: #d2d2d2;
    text-decoration: none;
    margin: auto;
    height: 45px;
    padding: 9px 29px;
    font-size: 15px;
}

.container-hero .hero-cta-link:hover {
 	background-color: #b1b1b1;
 	color: #375578;
}



.container-hero .hero-cta-link p {
	font-size: 20px;
    width: 100%;
}

.section-1 {
	background: url("../img/paws2.png") repeat center;
	background-attachment: fixed;
	padding: 18px;

}

.section-1-inner {
	display: flex;
	flex-wrap: wrap;
	padding: 18px;
	background: linear-gradient(#cececc70 0%,#304b6d5e 100%);
}

@media screen and (max-width: 420px) {

	.container-hero .hero-row {
		margin-top: -97px;
	}

	.container-hero p {
		font-size: 23px;
		margin-top: auto;
		margin-right: auto;
	}

	.container-hero .hero-cta-link {
		width: 80%;
		height: auto;
		margin-top: 25px;
		margin-right: 34px;
	}

	.container-hero .hero-cta-link p {
		margin-top: 13px;
	}
}

.homepage-content {
	/*padding: 20px;*/
}


/* Responsive wagtail images */

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header */

.header {
	background-image: url("../img/pup_house_inn_header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	height: 700px;
	width: 100%;
	top: 0;
	z-index: -100;
	opacity: 0.5;
	background-attachment: fixed;
}

/* Navigation */

.nav-bar {
	background-color: #2B303A;
	overflow: hidden;
	box-shadow: 0 1px 5px 0px #888888;
	z-index: 1;
}

.nav-right .nav-links a {
	color: white;
	text-align: center;
	padding: 13px 14px 16px 16px;
	text-decoration: none;
	text-transform: uppercase;
	height: 20px;
	margin-top: 10px;

}

.nav-right .nav-links a:last-of-type {
	padding: 13px 0 16px 16px;
}


.nav-bar a:hover {
	/*padding-top: -1px;*/
	border-top: 1px solid #58A4B0;
	color: #58A4B0;
}

.nav-bar a:active:not(:last-child) {
	border-top: 1px solid #304B6D;
	color: #304B6D;
}

.nav-bar .menu-icon {
	margin: 12px 15px 0 0;
	display: none;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
    border-radius: 10px;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.sticky {
	position: fixed;
	top: -613px;
	width: 100%;
}

.sticky + .content {
	padding-top: 670px;
}

.responsive {
	display: none;
	float: none;
	text-align: left;
}

.responsive ul {
	margin-top: 100px;
}

.responsive ul li {
	list-style: none;
	position: relative;
}

.disappear .responsive {
	display: block;
}

@media screen and (max-width: 600px) {
	.nav-bar a:not(:first-child) {display: none;}
	.nav-bar a.menu-icon {
	    float: right;
	    display: block;
	}
}

/* Main body content */

.content {
	background-color: #f1f1f1;
	padding: 9px 0 0 0;
    min-height: 100%;
}

.content1 {
	margin-top: 69px;
}



/* Promo section on homepage */

.container .promo-row {
    
    height: 100%;
    margin: 0 10px 20px -11px;
    text-align: center;
    width: 43%;
    padding: 40px 30px 40px 60px;
}

.container .promo-row .promo img {
	width: 50%;
    height: auto;
    border-radius: 600px;
}

/* Feature 1 on homepage */

.section-1 .feature-1 > h2 {
    color: #D0CECC;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 90px;
}

.container .feature-1 {
	list-style: none;
	width: 57%;
	padding: 40px 60px 40px 30px;
}

.container .feature-1 li {
	margin: 0 10px 20px 0;
}

.container .feature-1 li a {
	text-decoration: none;
	color: #cececc;
}

.container .feature-1 li .childpage-title a:hover {
	background-color: #C7C7C5;
	color: #304B6D;
	border-radius: 3px;
	padding: 10px;
}


.container .feature-1 .feature-children .childpage {
	display: flex;
	align-items: center;
	background-color: #304b6d;
	border-radius: 0 5px 5px 0;
    width: 100%;
    padding-right: 30px;
    margin: 10px 0 10px 10px;
    line-height: 17px;
    cursor: pointer;
}

.container .feature-1 .feature-children .childpage:hover {
	background: #cececc;
	color: #304b6d;
}

.container .feature-1 .feature-children .childpage:active {
	background: black;
	color: white;
}


.container .feature-1 .feature-children .childpage figure {
	margin: 0 15px -4px 0;
}

@media screen and (max-width: 810px) {
	.container .feature-1 {
		width: 95%;
	}

	.container .promo-row {
		width: 100%;
		margin: -10px 10px 20px 10px;
		border-radius: 0 0 10px 10px;
	}
}


/* Body block on homepage */ 

.body-container {
	background-color: rgba(0,0,0,.3);
	
	background-size: cover;
	position: relative;
}

.body-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/abstract-antique-backdrop-164005.jpg") no-repeat center;
	z-index: -1;
	background-attachment: fixed;
}

.body-container .streamfield-column {
	padding-top: 92px;
}

/*.streamfield-column::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}*/

.body-container .streamfield-column .rich-text {
	max-width: 800px;
	margin: auto;
	color: white;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 55px;
}

.block-heading_block {
	max-width: 1200px;
	margin: auto;
}

.body-container .streamfield-column .block-heading_block h1,
.body-container .streamfield-column .block-heading_block h2, 
.body-container .streamfield-column .block-heading_block h3,
.body-container .streamfield-column .block-heading_block h4 {
	margin-top: 0;
    text-align: center;
    font-size: 69px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000d1;
    font-weight: 400;
}

@media screen and (max-width: 810px) {
	.body-container .streamfield-column .rich-text {
		width: 70%;
	}	    
}

.body-container .streamfield-column .block-image_block figure img {
	width: 100%;
	height: auto;
}

.body-container .streamfield-column .block-block_quote {
	width: 100%;
    background: #5BA4B0;
    color: white;
    padding: 10px;
}

.body-container .streamfield-column .block-block_quote blockquote {
	font-size: 30px;
    text-align: center;
}

.body-container .streamfield-column .block-block_quote footer {
	font-size: 25px;
    text-align: center;
}

/* Feature 2 on homepage */

.feature-2 h2 {
	font-size: 45px;
    text-align: center;
    font-weight: 200;
    padding: 19px;
    color: white;
    text-shadow: 3px 3px 4px #000000a6;
}

.feature-2 .feature-children a {
	text-decoration: none;
	width: calc(100% / 3);
	border: 1px solid white;
	color: black;
}

.feature-2 .feature-children a:hover {
	background-color: #304b6d;
}

.feature-2 .feature-children a:active {
	background: black;
	color: white;
}

.feature-2 .feature-children .feature-item-2 {
	list-style: none;
}

.feature-2 .feature-children .feature-2-text {
	margin: 0 10px 10px 10px;
	padding: 10px;
}

.feature-2 .feature-children .feature-item-2 img {
	height: auto;
	width: 100%;
	background-color: rgba(250, 0, 0, 0.5);
}

.feature-children.row.feature-2-row {
	border: 1px solid #ffffff;
}

@media screen and (max-width: 955px) {
	.feature-2 .feature-children .feature-item-2 {
		width: 100%;
	}

	.feature-2 .feature-children a {
		width: 100%;
	}
}


/* bottom container */

.bottom-container {
	background: linear-gradient(#bac1b82b 0%,#2b303ac2 100%);
	position: relative;
}

.bottom-container::after {
	content: '';
	position: absolute;
	background: url('../img/grass.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100;
	background-attachment: fixed;
}

/* Feature 3 on homepage */

.feature-3 h2 {
	font-size: 45px;
    text-align: center;
}

.feature-3 .feature-children .feature-3-item {
	list-style: none;
    margin: 10px;
    background: #cececc;
    border-radius: 5px;
    position: relative;
}

@media screen and (max-width: 955px) {
	.feature-3 .feature-children .feature-3-item {
		width: 100%;
	}
}

.feature-3 .feature-children .feature-3-item a {
	text-decoration: none;
	color: #304b6d;
}

.feature-3 .feature-children .feature-3-item a:hover h3 {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 3px;
}


.section-3 .inner-container h2 {
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: 200;
    padding: 55px 0 75px 0;
    color: white;
    text-shadow: 3px 3px 4px #000000a6;
}

.feature-3 .feature-children .feature-3-item .feature-3-img {
	width: 100%;
    height: auto;
    background-size: cover;
}

.section-3 .feature-3 {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.section-3 .feature-3 a {
	width: 50%;
	text-decoration: none;
}

.section-3 .feature-3 .feature-child .feature-3-img {
	height: 300px;
	padding-top: 130px;
	margin: 5px;
    box-shadow: 4px 4px 2px #000000c4;
}

.section-3 .feature-3 .feature-child h3 {
	text-align: center;
    font-size: 50px;
    margin-top: 0;
    text-decoration: none!important;
    font-weight: 100;
    color: white;
}

/* Blog Index Page */

.blog-header {
	font-size: 40px;
	text-align: center;
}

/* End blog index page */

/* Blog Page */

.leftcolumn {
	/*float: left;*/
	width: 75%;
}

.leftcolumn .pagination {
	list-style: none;
	display: flex;
	margin: auto;
	justify-content: center;
}

.leftcolumn .pagination a {
	text-decoration: none;
	margin: 10px;
	padding: 3px;
	font-size: 20px;
	color: black;
}

.leftcolumn .pagination a:hover {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 1px;
}

.leftcolumn .pagination a:active {
	background-color: black;
	color: white;
	border-radius: 1px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.rightcolumn {
	width: 25%;
}


.card {
	background-color: white;
	padding: 20px;
	margin: 20px;
}

.leftcolumn .blog-card {
	width: 100%;
	background-color: white;
	padding: 20px;
	margin: 20px;
}

.leftcolumn .blog-card p {
	width: 100%;
	margin-right: -250px;
}

.leftcolumn .blog-card a {
	text-decoration: none;
	color: #304B6D;;
	padding: 10px;
	font-size: 40px;
}

.leftcolumn .blog-card a:hover {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 1px;
}

.leftcolumn .blog-card a:active {
	background-color: black;
	color: white;
	border-radius: 1px;
}


.row:after {
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}

	.row .blog-page {
		width: 75%;
	}

}


.blog-image {
	height: 400px;
	width: 75%;
	background-size: contain;
	background-repeat: no-repeat;
}

.right-blog-image {
	width: 100%;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
}

.row .card .block-image img {
	max-width: 100%;
    height: auto;
}

.blog-page {
	padding: 20px;
	width: 75%;
}

/* End blog page */

/* Service index page */

.services-container {
	display: flex;
	flex-wrap: wrap;	
	background: linear-gradient(#cececc70 0%,#304b6d5e 100%);
	position: relative;
}

.services-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: url(../img/paws2.png) repeat center;
	background-attachment: fixed;

}

.service-container .services-container .services-content {
	padding: 20px;
}

.service-container .services-container h2 {
	font-size: 40px;
	margin: 100px auto 50px auto;
}

.service-container .services-container .block-heading_block {
	text-align: center;
}

.service-container .services-container .services-text {
	text-align: center;
}

.service-container .services-container a {
	width: calc(100%/3);
	text-decoration: none;
    display: flex;
    flex-direction: column;
	color: #304b6d;
    border: 1px solid white;
}

.service-container .services-container a:hover {	
	background: #304b6d;
    color: #cececc;
}

.service-container .services-container a:active {
	background: black;
	color: white;
}

.service-container .services-container a img {
	width: 100%;
    height: auto;
}

.service-container .services-container a p {
	display: flex;
    flex-direction: column;
    color: white;
}

/* End service index page */

/* Photo gallery index */

.photo-galleries .leftcolumn a {
	width: 45%;
	text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #cececc;
	color: #304b6d;
    border-radius: 5px 5px 0 0;
}

.photo-galleries .leftcolumn a img {
	width: 100%;
    height: auto;
}

.photo-galleries .leftcolumn a h2 {
	text-align: center;
}

.photo-galleries .leftcolumn a:hover {
	background: #304b6d;
	color: #cececc;
}

.photo-galleries .leftcolumn a:active {
	background: black;
	color: white;
}

/* Photo gallery page */

.photo-gallery h1 {
	text-align: center;
}

.slider .slider-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 15%;
    height: 35px;
}

.slider img {
	margin: auto;
	width: 80%;
    height: auto;
}

.photo .card img {
	width: 100%;
    height: auto;
}

/* End photo gallery */

/* Standard page */

.standard-page-body .card .block-image_block img {
	width: 100%;
	height: auto;
}



/* end standard page */

/* Services page */


.row.services-page {
	background-image: url(../img/blue-texture.jpg);
    background-size: cover;
}

.services-page .inner-container img {
	max-width: 100%;
	height: auto;
}

.services-page .inner-container .block-image_block figure {
	max-width: 100%;
	height: auto;
	margin-left: 0;
}

/* end services page */

/* Contact page */

.form-page .fieldWrapper input {
	margin: 10px;
	font-size: 15px;
    height: 31px;
    width: 60%;
    border-radius: 3px;
}

.form-page .fieldWrapper select {
	margin: 10px;
	font-size: 15px;
	width: 50%;
	height: 25px;
}

.form-page .fieldWrapper textarea {
	width: 100%;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: #CECECC 2px 2px;
}

.form-page .submit-button {
	height: 30px;
	width: 25%;
	font-size: 15px;
	background: #CECECC;
	border-radius: 3px;
}

.form-page .submit-button:active {
	background: #52c02c;
}

/* End contact pagee */


.footer {
  text-align: center;
  background: #2B303A;
  color: white;
  /*position: absolute;*/
  bottom: -78px;
}


.footer-container {
	display: flex;
	flex-wrap: wrap;
}

.footer-container .footer-map {
	width: calc( 100% / 3);
}

.footer-container .footer-nav {
	width: calc( 100% / 3);
    display: flex;
    flex-wrap: wrap;
    padding: 18px 30px 18px 30px;
}

.footer-container .footer-nav a {
	display: block;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 0 10px 10px 0;
}

.footer-container .footer-nav a:hover {
	color: #58A4B0;
}

.footer-container .footer-nav .footer-links {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px;
}

.footer-container .footer-nav .footer-contact {
	text-align: left;
	width: 50%;
}

.footer-nav .footer-badge {
	width: 50%;
	background: url("../img/napps.png") no-repeat center;
	background-size: contain;
}

.footer-container .footer-nav .footer-contact {
	margin-bottom: 20px;
}

.footer-container .footer-nav .footer-contact p {
	margin: 2px 0 2px 0;
}

.footer-container .footer-copyright {
	width: calc( 100% / 3);
	padding: 18px 30px 18px 30px;
}

.footer-copyright .copyright {
	font-size: 11px;
}

.footer-logo {
	width: 239px;
    height: 185px;
    background: url(/media/images/Puphouse-Logo.width-1920.png) no-repeat center;
    background-size: contain;
    margin: auto;
    margin-top: 20px;
}