@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sansregular';
    src: url('clearsans-regular-webfont.woff2') format('woff2'),
         url('clearsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tienneregular';
    src: url('tienne-regular-webfont.woff2') format('woff2'),
         url('tienne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    font-family: 'open_sansregular', sans-serif;
    line-height: 25px;
    /*overflow-x: hidden;*/
}

h1 {
	font-weight: 300;
	font-family: 'tienneregular', serif;
}

h2, h3 {
	font-weight: 900;
	font-family: 'tienneregular', serif;
}

* a {
	cursor: pointer;
}

.inner-container {
	max-width: 1200px;
	margin: auto;
	padding: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.inner-nav {
	display: flex;
	justify-content: space-between;	
}

.nav-right .nav-icons {
	display: flex;
	justify-content: flex-end;
	margin: 20px 7px 15px 0;
}

.nav-right .nav-icon {
	margin-left: 20px;
}

.nav-right .mail-icon {
	width: 20px;
	height: 20px;
	background: url("../img/mail-black-envelope-symbol.png") no-repeat center;
	background-size: contain;
}

.nav-right .phone-icon {
	width: 20px;
	height: 20px;
	background: url("../img/telephone.png") no-repeat center;
	background-size: contain;
}

.nav-right .facebook-icon {
	width: 20px;
	height: 20px;
	background: url("../img/facebook-logo-button.png") no-repeat center;
	background-size: contain;
}

.nav-left .nav-links {
	display: flex;
	justify-content: flex-end;
}

.nav-logo {
	width: 200px;
	height: 80px;
	background: url("../img/phi_grey.jpg") no-repeat center;
	background-size: contain;
}

/* Navbar on page other than home */

.nav-bar1 {
	margin-top: -69px !important;
    position: fixed;
    width: 100%;
}

/* HomePage */

.home-phone-email {
	position: fixed;
	top: 0;
	z-index: -99
}

.hero {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    top: 0;
    z-index: -100;
    padding: 0;
}

.logo {
	background-image: url("../img/the_pup_house_inn_logo_transparent.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 850px;
	width: 100%;
    z-index: -3;
}

.container {
	
}

.container-hero {
    text-align: center;
    z-index: -1;
    width: 100%;
}

.container-hero .hero-row {
	flex-direction: column;
    margin-top: 20px;
    margin-left: -10px;
}

.container-hero p {
	font-size: 30px;
	width: 50%;
	margin: auto;
	padding-bottom: 20px;
}

.container-hero .hero-cta-link {
	border: 1px solid #304B6D;
	border-radius: 4px;
	box-shadow: 0 0 1px transparent;
	padding: 10px;
	background-color: #CECECC;
    color: #304B6D;
    text-decoration: none;
    margin: auto;
    width: 25%;
    height: 45px;
}

.container-hero .hero-cta-link p {
	font-size: 20px;
    width: 100%;
}

.section-1 {
	background: url("../img/paws2.png") repeat center;
	background-attachment: fixed;
	padding: 18px;

}

.section-1-inner {
	display: flex;
	flex-wrap: wrap;
	padding: 18px;
	background: linear-gradient(#cececc70 0%,#304b6d5e 100%);
}

@media screen and (max-width: 420px) {

	.container-hero .hero-row {
		margin-top: -97px;
	}

	.container-hero p {
		font-size: 23px;
		margin-top: auto;
		margin-right: auto;
	}

	.container-hero .hero-cta-link {
		width: 80%;
		height: auto;
		margin-top: 25px;
		margin-right: 34px;
	}

	.container-hero .hero-cta-link p {
		margin-top: 13px;
	}
}

.homepage-content {
	/*padding: 20px;*/
}


/* Responsive wagtail images */

.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header */

.header {
	background-image: url("../img/pup_house_inn_header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	height: 700px;
	width: 100%;
	top: 0;
	z-index: -100;
	opacity: 0.5;
	background-attachment: fixed;
}

/* Navigation */

.nav-bar {
	background-color: #304b6d;
	overflow: hidden;
	box-shadow: 0 1px 5px 0px #888888;
	z-index: 1;
	height: 100px;
}

.nav-right .nav-links a {
	color: white;
	text-align: center;
	padding: 13px 14px 16px 16px;
	text-decoration: none;
	text-transform: uppercase;
	height: 20px;
	margin-top: 10px;

}

.nav-right .nav-links a:last-of-type {
	padding: 13px 0 16px 16px;
}


.nav-bar a:hover:not(:last-child) {
	/*padding-top: -1px;*/
	border-top: 1px solid #304B6D;
	color: #304B6D;
}

.nav-bar a:active:not(:last-child) {
	border-top: 1px solid #304B6D;
	color: #304B6D;
}

.nav-bar .menu-icon {
	margin: 12px 15px 0 0;
	display: none;
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
    border-radius: 10px;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.sticky {
	position: fixed;
	top: -613px;
	width: 100%;
}

.sticky + .content {
	padding-top: 670px;
}

.responsive {
	display: none;
	float: none;
	text-align: left;
}

.responsive ul {
	margin-top: 100px;
}

.responsive ul li {
	list-style: none;
	position: relative;
}

.disappear .responsive {
	display: block;
}

@media screen and (max-width: 600px) {
	.nav-bar a:not(:first-child) {display: none;}
	.nav-bar a.menu-icon {
	    float: right;
	    display: block;
	}
}

/* Main body content */

.content {
	background-color: #f1f1f1;
	padding: 9px 0 0 0;
    min-height: 100%;
}

.content1 {
	margin-top: 69px;
}



/* Promo section on homepage */

.container .promo-row {
    
    height: 100%;
    margin: 0 10px 20px -11px;
    text-align: center;
    width: 35%;
    padding: 40px 60px;
}

.container .promo-row .promo img {
	width: 100%;
    height: auto;
    border-radius: 600px;
}

/* Feature 1 on homepage */

.container .feature-1 {
	list-style: none;
	width: 50%;
}

.container .feature-1 li {
	margin: 0 10px 20px 0;
}

.container .feature-1 li a {
	text-decoration: none;
	color: #cececc;
}

.container .feature-1 li .childpage-title a:hover {
	background-color: #C7C7C5;
	color: #304B6D;
	border-radius: 3px;
	padding: 10px;
}


.container .feature-1 .feature-children .childpage {
	display: flex;
	align-items: center;
	background-color: #304b6d;
	border-radius: 0 5px 5px 0;
    width: 100%;
    padding-right: 30px;
    margin: 10px 0 10px 10px;
    line-height: 17px;
    cursor: pointer;
}

.container .feature-1 .feature-children .childpage:hover {
	background: #cececc;
	color: #304b6d;
}

.container .feature-1 .feature-children .childpage:active {
	background: black;
	color: white;
}


.container .feature-1 .feature-children .childpage figure {
	margin: 0 15px -4px 0;
}

@media screen and (max-width: 810px) {
	.container .feature-1 {
		width: 95%;
	}

	.container .promo-row {
		width: 100%;
		margin: -10px 10px 20px 10px;
		border-radius: 0 0 10px 10px;
	}
}


/* Body block on homepage */ 

.body-container .streamfield-column {
	background: linear-gradient(rgba(170,170,170,1) 0%,rgba(238,238,238,1) 44%);
	padding: 10px;
}

.body-container .streamfield-column .rich-text {
	max-width: 1200px;
	margin: auto;
}

.block-heading_block {
	max-width: 1200px;
	margin: auto;
}

@media screen and (max-width: 810px) {
	.body-container .streamfield-column .rich-text {
		width: 70%;
	}	    
}

.body-container .streamfield-column .block-image_block figure img {
	width: 100%;
	height: auto;
}

.body-container .streamfield-column .block-block_quote {
	width: 100%;
    background: black;
    color: white;
    padding: 10px;
    margin: 0 0 -10px -10px;
}

.body-container .streamfield-column .block-block_quote blockquote {
	font-size: 30px;
    text-align: center;
}

.body-container .streamfield-column .block-block_quote footer {
	font-size: 25px;
    text-align: center;
}

/* Feature 2 on homepage */

.feature-2 h2 {
	font-size: 45px;
    text-align: center;
}

.feature-2 .feature-children a {
	text-decoration: none;
	width: calc(100% / 3);
	padding: 20px;
	
	border-radius: 0 0 5px 5px;
	color: black;
}

.feature-2 .feature-children a:hover {
	background-color: #304b6d;
}

.feature-2 .feature-children a:active {
	background: black;
	color: white;
}

.feature-2 .feature-children .feature-item-2 {
	list-style: none;
	background: #CECECC;	
}

.feature-2 .feature-children .feature-2-text {
	margin: 0 10px 10px 10px;
	padding: 10px;
}

.feature-2 .feature-children .feature-item-2 img {
	height: auto;
	width: 100%;
	background-color: rgba(250, 0, 0, 0.5);
}

@media screen and (max-width: 955px) {
	.feature-2 .feature-children .feature-item-2 {
		width: 100%;
	}

	.feature-2 .feature-children a {
		width: 100%;
	}
}

/*.feature-2 .feature-children .feature-2-item figure {
	margin: -15px;
}

.feature-2 .feature-children .feature-2-item img {
	width: 100%;
    height: auto;
}

.feature-2 .feature-children .feature-2-item a {
	color: #304b6d;
	text-decoration: none;
	width: 100%;
    height: auto;
}


.feature-2 .feature-children .feature-2-item h3 {
	font-size: 25px;
}*/


/* Feature 3 on homepage */

.feature-3 h2 {
	font-size: 45px;
    text-align: center;
}

.feature-3 .feature-children .feature-3-item {
	list-style: none;
    margin: 10px;
    background: #cececc;
    border-radius: 5px;
    position: relative;
}

@media screen and (max-width: 955px) {
	.feature-3 .feature-children .feature-3-item {
		width: 100%;
	}
}

.feature-3 .feature-children .feature-3-item a {
	text-decoration: none;
	color: #304b6d;
}

.feature-3 .feature-children .feature-3-item a:hover h3 {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 3px;
}


.section-3 .inner-container h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.feature-3 .feature-children .feature-3-item .feature-3-img {
	width: 100%;
    height: auto;
    background-size: cover;
}

.section-3 .feature-3 {
	display: flex;
	flex-wrap: wrap;
}

.section-3 .feature-3 a {
	width: 50%;
}

.section-3 .feature-3 .feature-child .feature-3-img {
	height: 300px;
}
/* Blog Index Page */

.blog-header {
	font-size: 40px;
	text-align: center;
}

/* End blog index page */

/* Blog Page */

.leftcolumn {
	/*float: left;*/
	width: 75%;
}

.leftcolumn .pagination {
	list-style: none;
	display: flex;
	margin: auto;
	justify-content: center;
}

.leftcolumn .pagination a {
	text-decoration: none;
	margin: 10px;
	padding: 3px;
	font-size: 20px;
	color: black;
}

.leftcolumn .pagination a:hover {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 1px;
}

.leftcolumn .pagination a:active {
	background-color: black;
	color: white;
	border-radius: 1px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.rightcolumn {
	width: 25%;
}


.card {
	background-color: white;
	padding: 20px;
	margin: 20px;
}

.leftcolumn .blog-card {
	width: 100%;
	background-color: white;
	padding: 20px;
	margin: 20px;
}

.leftcolumn .blog-card p {
	width: 100%;
	margin-right: -250px;
}

.leftcolumn .blog-card a {
	text-decoration: none;
	color: #304B6D;;
	padding: 10px;
	font-size: 40px;
}

.leftcolumn .blog-card a:hover {
	background-color: #304B6D;
	color: #C7C7C5;
	border-radius: 1px;
}

.leftcolumn .blog-card a:active {
	background-color: black;
	color: white;
	border-radius: 1px;
}


.row:after {
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}

	.row .blog-page {
		width: 75%;
	}

}


.blog-image {
	height: 400px;
	width: 75%;
	background-size: contain;
	background-repeat: no-repeat;
}

.right-blog-image {
	width: 100%;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
}

.row .card .block-image img {
	max-width: 100%;
    height: auto;
}

.blog-page {
	padding: 20px;
	width: 75%;
}

/* End blog page */

/* Service index page */

.service-container {
	display: flex;
	flex-wrap: wrap;
}

.service-container .leftcolumn h2 {
	text-align: center;
	font-size: 40px;
}
.service-container .leftcolumn a {
	width: 45%;
	text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #cececc;
	color: #304b6d;
    border-radius: 0 0 5px 5px;
}

.service-container .leftcolumn a:hover {	
	background: #304b6d;
    color: #cececc;
}

.service-container .leftcolumn a:active {
	background: black;
	color: white;
}

.service-container .leftcolumn a img {
	width: 100%;
    height: auto;
}

.service-container .leftcolumn a p {
	padding:10px;
	display: flex;
    flex-direction: column;
}

/* End service index page */

/* Photo gallery index */

.photo-galleries .leftcolumn a {
	width: 45%;
	text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background: #cececc;
	color: #304b6d;
    border-radius: 5px 5px 0 0;
}

.photo-galleries .leftcolumn a img {
	width: 100%;
    height: auto;
}

.photo-galleries .leftcolumn a h2 {
	text-align: center;
}

.photo-galleries .leftcolumn a:hover {
	background: #304b6d;
	color: #cececc;
}

.photo-galleries .leftcolumn a:active {
	background: black;
	color: white;
}

/* Photo gallery page */

.photo-gallery h1 {
	text-align: center;
}

.slider .slider-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 15%;
    height: 35px;
}

.slider img {
	margin: auto;
	width: 80%;
    height: auto;
}

.photo .card img {
	width: 100%;
    height: auto;
}

/* End photo gallery */

/* Standard page */

.standard-page-body .card .block-image_block img {
	width: 100%;
	height: auto;
}



/* end standard page */

/* Services page */

.services-page .leftcolumn .card img{
	width: 100%;
	height: auto;
}

/* end services page */

/* Contact page */

.form-page .fieldWrapper input {
	margin: 10px;
	font-size: 15px;
    height: 31px;
    width: 60%;
    border-radius: 3px;
}

.form-page .fieldWrapper select {
	margin: 10px;
	font-size: 15px;
	width: 50%;
	height: 25px;
}

.form-page .fieldWrapper textarea {
	width: 100%;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: #CECECC 2px 2px;
}

.form-page .submit-button {
	height: 30px;
	width: 25%;
	font-size: 15px;
	background: #CECECC;
	border-radius: 3px;
}

.form-page .submit-button:active {
	background: #52c02c;
}

/* End contact pagee */


.footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: white;
  /*position: absolute;*/
  bottom: -78px;
}