{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}


{% block content %}
<div class="photo-gallery-page">
	<div class="inner-container">
		<div class="photo-gallery">
			<h1>{{ page.title }}</h1>
			<p class="meta">{{ page.description }}</p>
			<div class="main-carousel">
				{% for item in page.gallery_images.all %}
					{% image item.image max-1280x900 as photo %}
					<div class="carousel-cell"><img class="carousel-cell-image" data-flickity-lazyload="{{ photo.url }}"></div>
				{% endfor %}
			</div>
		</div>
		<div class="row photo">
			{% for item in page.gallery_images.all %}
				{% image item.image max-1000x1000 as photo %}
					<div class="single-image">
						<a href="{{ photo.url }}"><div class="gallery-photo" style="background:url('{{ photo.url }}') no-repeat center;"></div></a>
						{% if item.caption %}
							<p>{{ item.caption }}</p>
						{% endif %}
					</div>
			{% endfor %}
		</div>

		<a href="{{ page.get_parent.url }}">Return to Photo Galleries</a>
	</div>
</div>
{% endblock %}