{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}


{% block content %}
	<div class="card photo-gallery">
		<h1>{{ page.title }}</h1>
		<p class="meta">{{ page.description }}</p>
		<div class="slider">			
			<div class="row">
				<button class="slider-button left-arrow" onclick="plusDivs(-1)">Left</button>
				<button class="slider-button right-arrow" onclick="plusDivs(+1)">Right</button>
			</div>
			{% for item in page.gallery_images.all %}
				{% image item.image max-1000x500 as tmp_photo %}
				<img class="mySlides" src="{{ tmp_photo.url }}">
			{% endfor %}
		</div>

		
	

		<div class="row photo">
			{% for item in page.gallery_images.all %}
				{% image item.image max-1000x1000 as tmp_photo %}
					<div class="card">
					<a href="{{ tmp_photo.url }}">{% image item.image fill-320x240 %}</a>
					<p>Caption: {{ item.caption }}</p>
					</div>
			{% endfor %}
		</div>

		<a href="{{ page.get_parent.url }}">Return to Photo Galleries</a>
	</div>

{% endblock %}