{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<div class="service-container">
	<div class="services-container">
		<div class="inner-container services-text">
			<p>{{ page.body }}</p>
			<h2>Dog Services</h2>
		</div>
		<div class="row dog-services">			
			{% for page in page.get_children.live.specific %}
				{% if page.animal == 'dog' %}
				<a href="{{ page.url }}">
				<!-- <div class="childpage"> -->
					{% image page.main_image fill-430x210-c10 %}
					<div class="services-content">
						<h2>{{ page.title }}</h2>
						<h3>{{ page.display_price }}</h3>
						<p>{{ page.service }}</p>
					</div>
				<!-- </div> -->
				</a>
				{% endif %}
			{% endfor %}
		</div>
	
		<h2>Cat Services</h2>
		<div class="row cat-services">
			{% for page in page.get_children.live.specific %}
				{% if page.animal == 'cat' %}
				<a href="{{ page.url }}">
				<!-- <div class="childpage"> -->
					{% image page.main_image fill-430x210-c10 %}
					<div class="services-content">
						<h2>{{ page.title }}</h2>
						<h3>{{ page.display_price }}</h3>
						<p>{{ page.service }}</p>
					</div>
				<!-- </div> -->
				</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}