{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<div class="container">
	<p>{{ page.body }}</p>
	<h2>Services</h2>
	<div class="row">

		<h2>Dog Services</h2>
		{% for page in page.get_children.specific %}
			{% if page.animal == 'dog' %}
				<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
			{% endif %}
		{% endfor %}

		<h2>Cat Services</h2>
		{% for page in page.get_children.specific %}
			{% if page.animal == 'cat' %}
				<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}